.task {
	border: 0.1rem solid #343140;
	border-top-width: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	min-height: 10rem;
}


.task-col-left {
	align-items: center;
	display: flex;
	padding: 0 3rem;
	width: 100%;
}


.task-col-right {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	width: 20rem;
}


.task-title {
	max-width: 30rem;
	width: 100vw;
}


.task-description {
	padding: 1rem;
	width: 100%;
}


.task-btns {
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	width: 100%;
}