.container {
	max-width: 105rem;
	width: 100vw;
}


header {
	border: 0.1rem solid #343140;
	border-radius: 0.8rem 0.8rem 0 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	min-height: 10rem;
}


.header-col-left {
	align-items: center;
	display: flex;
	padding: 0 3rem;
}


.header-col-right {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding-right: 2.5rem;
}